.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* padding: 2rem; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display SC", serif
}


.form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ec9405;
}
.information {
  /* display: flex; */
  color: #555;
  /* margin: 0.7rem 0; */
  align-items: center;
  font-size: 0.95rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ec9405, #ff4e00);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
  color: #fff;
}




.contact-form {
  background-color: rgb(252, 115, 60);
  position: relative;
  padding:20px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ec9f05);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: 0px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input::placeholder {
    color: white;
  }

.contact-button {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #ec9405;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.contact-button:hover {
  background-color: transparent;
  color: #fff;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}
